body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

#breakout{
    width: 100%;
    height: 100%;
}

#gameover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
#defeat{
    left : 300px;
    width: 1920px;
    height: 1080px;
    position: absolute;
    display: none;
}

#restart{
    position: absolute;
    top: 600px;
    left : 1200px;
    cursor: pointer;
    font-size: 1.25em;
    color : #FFF;
}