* {
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
}

.header {
  color: aqua;
  background-color: #0a2743;
  padding: 20px;
  margin-top: 0;
  border: 5px solid #fcd04a;
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
  font-size: 25px;
  font-weight: 700;
}

.link-button {
  background-color: #fcd04a;
  color: #0a2743;
  text-decoration: none;
  border-radius: 12px;
  padding: 5px 20px;
  margin-right: 20px;
}

.titulo {
  color: #fcd04a;
  font-size: 50px;
}

h4 {
  color: #fcd04a;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 30px;
}

.texto {
  text-align: center;
  font-size: large;
  margin: 5% 20%;
}

aside {
  border-top: 5px solid #0a2743;
  font-size: 18px;
}

.posts {
  text-decoration: none;
}

a:hover {
  color: #fcd04a;
}

.rodape {
  background-color: #0a2743;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
  border-top: 8px solid #fcd04a;
}

li {
  margin: 10px;
}

footer {
  background-color: rgb(16, 16, 122);
}
