body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  width: 200vw;

  position: static;
  
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

#breakout {
  position: relative;

  width: 200vw;
  height: 100%;
  overflow-x: hidden;

}

#wait-players {
  position: absolute;
  width: 150vw;
  height: auto;
  display: none;
  margin-top: 250px;
}

#gameover{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
}

#defeat {
  left: 300px;
  width: 50%;
  height: 50%;
  position: absolute;
  display: none;
}

#restart {
  position: absolute;
  top: 80vh;
  left: 80vh;
  cursor: pointer;
  font-size: 1.25em;
  color: #fff;
  top: 56%;
  left: 47%;
}

/* #screenAdjustments{
    position: absolute;
    top: 80vh;
    left : 80vh;
    font-size: 1.25em;
    color : #FFF;
    top: 56%;
    left: 47%;

    display: none;
} */