body, html{
    margin: 0;
    padding: 0;
    height: 100%;

    /* overflow-x: hidden; */
    overflow-y: hidden;
}

#breakout{
    position: relative;
    
    width: 205vh;
    height: 100vh;

    overflow-x: hidden;

}

#gameover{
    position: absolute;
    width: 210vh;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
}
#defeat{
    left : 300px;
    width: 50%;
    height: 50%;
    position: absolute;
    display: none;
}

#restart{
    position: absolute;
    top: 80vh;
    left : 80vh;
    cursor: pointer;
    font-size: 1.25em;
    color : #FFF;
    top: 56%;
    left: 47%;
}

#screenAdjustments{
    position: absolute;
    top: 80vh;
    left : 80vh;
    font-size: 1.25em;
    color : #FFF;
    top: 56%;
    left: 47%;

    display: none;
}